html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: turquoise;
    font-family: 'Courier New';
}

.shop-now-button {
    background: fuchsia;
    color: white;
    min-width: 250px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: fuschia;
    color: white;
    border: 1px solid purple;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: purple;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: purple;
    color: white;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* -------------------------------- Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Extra Large screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed-top navbar on medium-sized and larger screens */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 170px;
    }
}