<div class="collapse navbar-collapse" id="category-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item dropdown d-md-none">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="admin-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
        <div class="dropdown-menu border-0" aria-labelledby="admin-options">
            <a href="{% url 'add_retreat' %}" class="dropdown-item">Add Retreat</a>
            <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
        </div>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=as" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">View All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="yoga-mats" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Yoga Mats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="yoga-mats">
                <a href="{% url 'products' %}?category=mats,travel_mats" class="dropdown-item">All Mats</a>
                <a href="{% url 'products' %}?category=travel_mats" class="dropdown-item">Travel Mats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="yoga-props" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Props
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="yoga-props">
                <a href="{% url 'products' %}?category=blocks" class="dropdown-item">Blocks</a>
                <a href="{% url 'products' %}?category=bolsters" class="dropdown-item">Bolsters</a>
                <a href="{% url 'products' %}?category=blankets" class="dropdown-item">Blankets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="oils-incense" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Oils & Incense
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="oils-incense">
                <a href="{% url 'products' %}?category=essential_oils" class="dropdown-item">Essential Oils</a>
                <a href="{% url 'products' %}?category=incense" class="dropdown-item">Incense</a>
                <a href="{% url 'products' %}?category=incense_holders" class="dropdown-item">Incense Holders</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=bags" class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?category=bottles" class="dropdown-item">Bottles</a>
                <a href="{% url 'products' %}?category=eye_pillows"  class="dropdown-item">Eye Pillows</a>
            </div>
        </li>
        <li class="nav-item d-block d-md-none">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="contact">
                Contact
            </a>
        </li>
    </ul>
</div>